#roulette{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* padding:0 !important; */
}
#roulette img{
    width:150px;
    margin-top:6px;
    /* margin:0 auto; */
}
#roulette img::after {
  content: 's';
  display: block;
  height: 4px;
  background: rgb(255, 255, 255);
}
#roulette div{
    text-align: center;
    font-size: 24px;
    margin:6px 0;
}
.ribbon{
    position: relative;
}
.corner-ribbon-6 {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.game_vk_bot{
    width:24px !important;
    height: 24px;
    display:  inline-block;
    vertical-align: middle;
    margin-top:0 !important;
}
.label_vk_bot{
    /* vertical-align: middle; */
    display: inline-block;
}